{
  "printWidth": 100,
  "singleQuote": true,
  "jsxSingleQuote": false,
  "arrowParens": "avoid",
  "trailingComma": "es5",
  "overrides": [
    {
      "files": "pages/**/*.{md,mdx}",
      "options": {
        "printWidth": 80,
        "singleQuote": false,
        "quoteProps": "preserve",
        "arrowParens": "always"
      }
    },
    {
      "files": "**/*.xml",
      "options": {
        "bracketSameLine": true,
        "xmlWhitespaceSensitivity": "preserve"
      }
    }
  ],
  "plugins": ["@prettier/plugin-xml"]
}
